@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
:root {
  --background: oklch(0.97 0.005 106);
  --foreground: oklch(0.15 0.05 260);
  --card: oklch(0.99 0.0075 85);
  --card-foreground: oklch(0.15 0.05 260);
  --popover: oklch(0.99 0.0075 85);
  --popover-foreground: oklch(0.15 0.05 260);
  --primary: oklch(0.5854 0.2041 277.1173);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.94 0.01 240);
  --secondary-foreground: oklch(0.25 0.04 260);
  --muted: oklch(0.94 0.01 240);
  --muted-foreground: oklch(0.4 0.03 260);
  --accent: oklch(0.92 0.04 280);
  --accent-foreground: oklch(0.25 0.04 260);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.85 0.01 240);
  --input: oklch(0.85 0.01 240);
  --ring: oklch(0.5854 0.2041 277.1173);
  --chart-1: oklch(0.5854 0.2041 277.1173);
  --chart-2: oklch(0.6368 0.2078 25.3313);
  --chart-3: oklch(0.5771 0.1942 142.4956);
  --chart-4: oklch(0.6241 0.1578 51.8372);
  --chart-5: oklch(0.4568 0.2146 194.7689);
  --sidebar: oklch(0.25 0.02 260);
  --sidebar-foreground: oklch(0.85 0.02 240);
  --sidebar-primary: oklch(0.5854 0.2041 277.1173);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.97 0.005 106);
  --sidebar-accent-foreground: oklch(0.25 0.02 260);
  --sidebar-border: oklch(0.35 0.02 260);
  --sidebar-ring: oklch(0.5854 0.2041 277.1173);

  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 0 1px 2px 0 hsl(240 8% 20% / 0.05);
  --shadow-xs:
    0 1px 3px 0 hsl(240 8% 20% / 0.08), 0 1px 2px -1px hsl(240 8% 20% / 0.08);
  --shadow-sm:
    0 1px 3px 0 hsl(240 8% 20% / 0.1), 0 1px 2px -1px hsl(240 8% 20% / 0.1);
  --shadow:
    0 4px 6px -1px hsl(240 8% 20% / 0.08), 0 2px 4px -2px hsl(240 8% 20% / 0.08);
  --shadow-md:
    0 4px 6px -1px hsl(240 8% 20% / 0.09), 0 2px 4px -2px hsl(240 8% 20% / 0.09);
  --shadow-lg:
    0 10px 15px -3px hsl(240 8% 20% / 0.09),
    0 4px 6px -4px hsl(240 8% 20% / 0.09);
  --shadow-xl:
    0 20px 25px -5px hsl(240 8% 20% / 0.1),
    0 8px 10px -6px hsl(240 8% 20% / 0.1);
  --shadow-2xl: 0 25px 50px -12px hsl(240 8% 20% / 0.18);

  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.22 0.0061 56.0434);
  --foreground: oklch(0.9699 0.0013 106.4238);
  --card: oklch(0.2685 0.0063 34.2976);
  --card-foreground: oklch(0.9699 0.0013 106.4238);
  --popover: oklch(0.2685 0.0063 34.2976);
  --popover-foreground: oklch(0.9699 0.0013 106.4238);
  --primary: oklch(0.6086 0.1816 264.0802);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.4444 0.0096 73.639);
  --secondary-foreground: oklch(0.9232 0.0026 48.7171);
  --muted: oklch(0.32 0.008 45);
  --muted-foreground: oklch(0.7161 0.0091 56.259);
  --accent: oklch(0.3598 0.0497 229.3202);
  --accent-foreground: oklch(0.9232 0.0026 48.7171);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3741 0.0087 67.5582);
  --input: oklch(0.3741 0.0087 67.5582);
  --chart-1: oklch(0.6086 0.1816 264.0802);
  --chart-2: hsl(142 76% 36%);
  --chart-3: hsl(346 77% 49%);
  --chart-4: hsl(35 91% 51%);
  --chart-5: hsl(262 83% 58%);
  --sidebar: oklch(0.2685 0.0063 34.2976);
  --sidebar-foreground: oklch(0.9699 0.0013 106.4238);
  --sidebar-primary: oklch(0.7049 0.1867 47.6044);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6847 0.1479 237.3225);
  --sidebar-accent-foreground: oklch(0.2839 0.0734 254.5378);
  --sidebar-border: oklch(0.3741 0.0087 67.5582);
  --sidebar-ring: oklch(0.7049 0.1867 47.6044);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 0 1px 2px 0 hsl(240 8% 20% / 0.05);
  --shadow-xs:
    0 1px 3px 0 hsl(240 8% 20% / 0.08), 0 1px 2px -1px hsl(240 8% 20% / 0.08);
  --shadow-sm:
    0 1px 3px 0 hsl(240 8% 20% / 0.1), 0 1px 2px -1px hsl(240 8% 20% / 0.1);
  --shadow:
    0 4px 6px -1px hsl(240 8% 20% / 0.08), 0 2px 4px -2px hsl(240 8% 20% / 0.08);
  --shadow-md:
    0 4px 6px -1px hsl(240 8% 20% / 0.09), 0 2px 4px -2px hsl(240 8% 20% / 0.09);
  --shadow-lg:
    0 10px 15px -3px hsl(240 8% 20% / 0.09),
    0 4px 6px -4px hsl(240 8% 20% / 0.09);
  --shadow-xl:
    0 20px 25px -5px hsl(240 8% 20% / 0.1),
    0 8px 10px -6px hsl(240 8% 20% / 0.1);
  --shadow-2xl: 0 25px 50px -12px hsl(240 8% 20% / 0.18);

  /* SUPER RADIUS */
  --radius: 1.25rem;
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-line-shadow: line-shadow 15s linear infinite;
  @keyframes line-shadow {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% -100%;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
